<div class="logo">
  <%= image_tag "logo.png", class: "logo" %>
</div>

<div class="container">
  <%= image_tag "iphone.png", class: "iphone" %>
  <div class="step1">
    <%= image_tag "step1.png", class: "step" %>
    <h3>Make a big change one habit at a time.</h3>
  </div>
  <div class="step2">
    <%= image_tag "step2.png", class: "step" %>
    <h3>"We are what we repeatedly do" Set a goal and learn a habit in 21 days.</h3>
  </div>
   <div class="step3">
    <%= image_tag "step3.png", class: "step" %>
    <h3>Share your progress with a close friend for motivation and guidance</h3>
  </div>

  <div class="step4">
    <%= image_tag "step4.png", class: "step" %>
    <h3>We'll send you daily reminders.</h3>
  </div>
</div>